<div class="container">
  <div class="row">
    <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>

  </div>
  <br/><br/>


  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fad fa-key tie"></i></span>
    </div>
    <input type="text" name="" class="form-control" placeholder="username or email"/>
  </div>
  <br/>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key icon"></i></span>
    </div>
    <input type="Password" name="" class="form-control" placeholder="password"/>
  </div>
  <br/>
  <div class="checkbox">
    <label><input type="checkbox" value=""/> Remember me</label>
  </div>
  <br/>
  <button type="submit" class="btn btn-success"> Login</button>

  <button type="submit" class="btn btn-info">Login with Facebook</button>
  <br/>
  <br/>
  <div style="border:1px solid black;height:1px;width:300px;"></div>
  <br/>
  <div class="footer">
    <p>Don't have an Account! <a href="#">Sign Up Here</a></p>
    <p>Forgot <a href="#">Password?</a></p>
  </div>

</div>
